.resetPassword{
    background-color: white;
    width: 50vmax;
    margin: auto;
    margin-top: 8vmax;
    border-radius: 10px;
}
.resetPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resetPasswordForm > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vmax 0;
    position: relative;
}

.resetPasswordForm > div > input{
    height: 3vmax;
    width: 70%;
    padding: 1vmax 3.5vmax 1vmax 3.3vmax;
    font: 300 1.2vmax Roboto;
    outline: none;
    border: 1px solid #4c4444;
    border-radius: 30px;
}
.resetPasswordForm > div > svg{
    font-size: 1.8vmax;
    color: #878282;
    font-weight: 100;
    transform: translateX(-15.5vmax);
    position: absolute;
}
.eyeIcon{
    position: absolute;
    transform: translateX(16vmax) translateY(0.1vmax);
    font-size: 1.8vmax;
    color: #878282;
    font-weight: 100;
    cursor: pointer;
}
.resetPasswordForm > a{
    text-decoration: none;
    margin: 1.5vmax;
    color: #9b9b9b;
}
.resetDone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmax;
}
.resetDone > svg{
    font-size: 10vmax;
    color: tomato;
}
.resetDone > h4{
    color: tomato;
}
.resetDone > a{
    text-decoration: none;
}

@media screen and (max-width : 600px) {
    .resetPassword{
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        padding-top: 12vw;
    }
    .resetPasswordForm > div{
        margin: 5vw 0vw;
    }
    .resetPasswordForm > div > input{
        height: 13vw;
        width: 90vw;
        font-size: 4.6vw;
        padding: 1vw 8vw 1vw 9.3vw;
    }
    .resetPasswordForm > div > svg{
        font-size: 6vw;
        transform: translateX(-39.5vw);
    }
    .eyeIcon{
        transform: translateX(40vw) translateY(0.1vw);
    }
    .eyeIcon > svg{
        font-size: 6vw;
    }
    .resetDone{
        margin-top: 20vw;
    }
    .resetDone > svg{
        font-size: 40vw
    }
}