.links{
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 3px #747373;
    position: fixed;
    top: 0;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(174, 216, 119), rgb(161, 207, 245));
    z-index: 10;
}
.links > a{
    margin: 0vmax 4vmax;
    margin-top: 1vmax;
    text-decoration: none;
}
.links > a > svg{
    font-size: 2.5vmax;
    color: rgb(112, 109, 109);
    transition: all 0.2s;
}
.links > a > svg:hover{
    transform: scale(1.1);
    color: black;
}
.forMargin{
    margin-bottom: 4vw;
}

@media screen and (max-width:600px) {
    .links{
        justify-content: space-evenly;
    }
    .links > a{
        margin: 0 6vw;
        margin-top: 3.5vw;
    }
    .links > a > svg{
        font-size: 9vw;
    }
    .forMargin{
        margin-bottom: 14vw;
    }
}