.searchBox{
    background-color: white;
    width: 50vmax;
    height: 45vmax;
    margin: auto;
    margin-top: 4vmax;
    border-radius: 10px;
}
.searchForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchForm > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vmax 0;
    position: relative;
}

.searchForm > div > input{
    height: 3vmax;
    width: 70%;
    padding: 1vmax 3.5vmax 1vmax 1.3vmax;
    font: 300 1.2vmax Roboto;
    outline: none;
    border: 1px solid #4c4444;
    border-radius: 30px;
}
.searchForm > div > svg{
    font-size: 1.8vmax;
    color: #878282;
    font-weight: 100;
    transform: translateX(15.5vmax);
    position: absolute;
}
.allUserBox{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    padding: 1vmax;
}

@media screen and (max-width : 600px) {
    .searchBox{
        width: 100vw;
        height: 100vh;
        margin-top: -60px;
        padding-top: 12vw;
    }
    .searchForm > div{
        margin: 5vw 0vw;
    }
    .searchForm > div > input{
        height: 13vw;
        width: 90vw;
        font-size: 4.6vw;
        padding: 1vw 10vw 1vw 6.3vw;
    }
    .searchForm > div > svg{
        font-size: 8vw;
        transform: translateX(38.5vw);
    }
}